{
    "user": {
        "mail": "",
        "password": ""
    },
    "domainID": 0, // can be found in the URL bar after clicking 'manage' on the domain here https://gen.xyz/account/clientarea.php?action=domaindetails
    "hosts": [
        {
            "name": "",
            "type": "A",
            "address": null // allows static adsress, set to 'null' to automaticly update to your current ip
        }
        // more records can be added here seperated by a ','
    ]
}